body {
  line-height: 24px;
}

form {
  width: 400px;
  margin: 0 auto;
  display: flex;
  gap: 8px;
}

.gallery {
  width: 1128px;
  margin: 32px auto 0;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  width: 360px;
  height: 200px;
  border: 1px #808080 solid;
}

.gallery-link {
  display: flex;
  flex-direction: column;
}

.gallery-image {
  width: 360px;
  height: 152px;
  object-fit: cover;
}

.info {
 display: flex;
 justify-content: space-around;
}

.info-group {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  padding-top: 4px;
}

.info-text {
  font-weight: 600;
  line-height: 16px;
}

.info-number {
  line-height: 24px;
}

input,
button {
  font-family: Montserrat;
}

input {
  width: 371px;
  height: 40px;
  border-radius: 4px;
  border: 1px #808080 solid;
  color: #2E2F42;
  padding-left: 16px;
  outline: none;
  transition: 250ms;
}

input:hover {
  border: 1px #000 solid;
}

input:focus {
  border: 1px #4E75FF solid;
}

.form-button {
  width: 91px;
  height: 40px;
  padding: 8px 16px 8px 16px;
  background-color:#4E75FF;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  transition: 250ms;
}

.form-button:hover {
  background-color: #6C8CFF;
}

.loader-container {
  margin: 100px auto 0;
  width: 100%;
  display: flex;
  position: absolute;
}

.loader {
  margin: 0 auto;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #000;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #FF3D00;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.disable {
  display: none;
}